body {
    background-color: linen;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
h1 {
    color: linen;
    font-size: 48px;
}
h2 {
    color: lightsalmon;
    font-size: 36px;
}
p {
    color: lightslategrey;
}
a { color: darkgrey; }
.top {
    background-color: lightsalmon;
    top: 0%;
}
.normalFooter {
    background-color: khaki;
    width: 95%;
    margin: 0%;
    font-size: 24px;
}
.footer {
    background-color: khaki;
    position: fixed;
    bottom: 0%;
    width: 95%;
    margin: 0%;
    font-size: 24px;
}
.contentItem {
    font-size: px;
}
.normalFooter, .footer, .top {
    text-align: center;
}
.normalFooter, .footer, .content, .top {
    padding: 2.5%;
}
ul {
    list-style-type: none;
    font-size: 24px;
    
}
.lightsalmon {
    background-color: lightsalmon;
}
button {
    border-radius: 0%;
    border-style: none;
    background-color: lightsalmon;
    padding: 1.25%;
    padding-left: 7.5%;
    padding-right: 7.5%;
    font-size: 36px;
    color: linen;
}