body {
    background-color: lightcoral;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0%;
}
div {
    background-color: lightsalmon;

    margin: 2.5%;
    padding: 5%;
    text-align: center;
}
h1 {
    color: whitesmoke;
    font-size: 48px;
}
span, a {
    color: whitesmoke;
    font-size: 24px;
}
.top { top: 0%; }
.footer {
    position: fixed;
    bottom: 0%;
}